.card-main{
    display: flex;
    flex-wrap: wrap;
}

.card-css{
    width: 27%;
    margin: 2rem 2rem;
}

@media (max-width: 980px) {
    .card-css {
      width: 40%;
    }
  }

  @media (max-width: 609px) {
    .card-css {
      width: 100%;
    }
  }